body {
    margin: 0;
    background-color: #170312;
}

i {
    padding-right: 5%;
}

label {
    margin: 1% 0;
}

.box {
    margin: 20%;
    padding: 2%;
}

 input {
    font-size: 16px;
    padding: 1%;
} 
select {
    font-size: 16px;
    padding: 1%;
}

ul {
    display: flex;
}
#input-name {
    width: 85%;
    margin-right: 1%;
}